/* sign up page -------------------------------------------- */
.form {
    width: 100%;
    margin: auto;
}
.sign-up-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.sign-up-form h3 {
    text-align: center;
}
.sign-up-form input {
    padding: 10px;
    margin: 10px 0;
    border-color: rgb(228, 228, 228);
    transition: all 0.5s ease;
}
.sign-up-form input:focus {
    outline-width: 3px;
    outline-style: solid;
    outline-color: #AB7AF4;
}
.sign-up-form button {
    padding: 10px;
    margin: 10px 0;
}