$color1: #5F404B;
$color2: #AB7AF4;
$color3: #452F37;
$boxShadow: rgb(167, 157, 157);
$color4: #b788ff;
$bgWorkout: #EADEFC;
$bgCommunity: rgba(227, 218, 218, 0.7);
$bgJournalBurger: #EFE6FD;
$btnNextPrev: #6d505b;
$bgBtnNextPrev: rgba(227, 218, 218, 0.5);
$color5: rgb(228, 225, 225);
$color6: #868686;
$bgError: #9f9da3;